@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrapper {
  padding: var(--space-xl) 0;
  background-color: var(--gray-10);
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.flexContainer {
  composes: sideBySideCenter from './utils.module.css';
  gap: 2em;
  place-content: center;
}
