/* 両端揃え */
.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 横並び */
.sideBySide {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .sideBySide {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 横並び */
.sideBySideCenter {
  composes: sideBySide;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .sideBySideCenter {
    text-align: left;
  }
}
